<#@ template language="C#" #>
<#@ assembly name="D:\Dev\ZennoFramework\ZennoFramework.Xml\bin\Debug\ZennoFramework.Xml.dll"  #>
<#@ import namespace="ZennoFramework.Xml" #>
<#
        var generator = new Generator("2X1Q-GG2T-6C59");
        return generator.GenerateElements(
            @"D:\Dev\ZennoFramework\ZennoFramework.Xml.Tests\SiteData\Elements.xml", "MyBot");
#>